{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
   <title>{% block title %} Главная {% endblock %} </title>
</head>
<body>
    <header class="header">
    <a href="{% url 'main:index'  %}"><img src="{% static 'img/arrow-left.png' %}" alt="arrow-left">На сайт</a>
   {% if user.is_authenticated %}
       <div class="header_block">
           <a href="{% url 'main:receipts' %}"><img src="{% static 'img/home.png' %}" alt="home">Личный кабинет</a>
           <a href="{% url 'main:rules' %}"><img src="{% static 'img/Help_Question.png' %}" alt="Help_Question">Правила</a>
           <a href="{% url 'main:profile' %}"><img src="{% static 'img/User.png' %}" alt="User">Профиль</a>
       </div>

       <div class="avatar">
            <a href="#"><img src="{% static 'img/Huge-icon.png' %}" alt="Huge-icon"></a>
            {% if user.profile.avatar %}
                <a href="{% url 'main:profile' %}{% url 'main:profile' %}"><img class="avatar_image" src="{{ user.profile.avatar.url }}" alt="Аватар"></a>
            {% else %}
                <a href="{% url 'main:profile' %}"><img class="avatar_image" src="{% static 'img/default-avatar.png' %}" alt="Аватар по умолчанию"></a>
            {% endif %}
            <div>
                <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <form action="{% url 'main:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                </form>
            </div>
       </div>
       {% else %}
       <a href="{% url 'main:login' %}">Войти</a>
   {% endif %}
    </header>
    <main>
    <div>
       {% bootstrap_messages %}
       {% block content %}
       {% endblock %}
    </div>

    </main>

</body>
</html>

