* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(245, 247, 250, 1)!important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    background: rgba(255, 255, 255, 1);
    height: 5vw;
    padding: 10px 0 10px 0;
}

.header a {
    height: max-content;
    width: max-content;
    display: flex;
    align-items: center;
    color: rgba(62, 69, 82, 1);
    padding: 5px;
}

.header a:hover {
    text-decoration: none;
    background: rgba(240, 243, 247, 1);
    color: rgba(62, 69, 82, 1);
    border-radius: 8px;
}

.activeTab{
    text-decoration: none;
    background: rgba(240, 243, 247, 1);
    color: rgba(62, 69, 82, 1);
    border-radius: 8px;
}

.header_block {
    display: flex;
    gap: 5vw;
    height: max-content;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.avatar p {
    margin-bottom: 0;
}

.avatar > div {
    display: flex;
    flex-direction: column;
}

.avatar_image {
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
}

main {
    margin: 2vw 10vw 2vw 10vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 32px;
    height: max-content;
}

.receipts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_receipts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_receipts > p {
    background-color: rgba(245, 247, 250, 1);
    padding: 0.5vw;
    border-radius: 10px;
}

.main_receipts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_receipts > img {
    width: 10vw;
    height: 15vw;
}

.button_create_receipt {
    background-color: rgba(82, 79, 229, 1);
    border-radius: 12px;
    padding: 0.5vw;
    color: white;
}

.button_create_receipt:hover {
    background-color: rgb(63, 61, 175);
    text-decoration: none;
    color: white;
}

.profile, .rules, .receipts {
    padding: 2vw;
}